
<div class="container" width="100%">
  <div class="row">
    <div class="footer-c">
        <h4>company</h4>
        <ul>
            <li><a href="#">about us</a></li>
        </ul>
    </div>
    <div class="footer-c">
        <h4>Mejores libros</h4>
        <ul>
            <li><a href="#">Harry Potter</a></li>>
        </ul>
    </div>
    <div class="footer-c">
        <h4>Libros infantiles</h4>
        <ul>
            <li><a href="#">Matilda</a></li>
        </ul>
    </div>
    <div class="footer-c">
        <h4>follow us</h4>
        <div class="social-links">       
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
  </div>
</div>