<h2>Total a pagar: {{valueToPay}} </h2>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Realizar compra
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Compra</h1>
        </div>
        <div class="modal-body">
          Gracias por comprar estos libros,vuelva pronto
        </div>
        <div class="modal-footer">
          <button (click)="pagar()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Volver a la pagina principal</button>
        </div>
      </div>
    </div>
  </div>