.buscador{
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 10px;
    align-content: center;
    align-items: right;
    margin-top: 55px;

}

.contenedor{
    display: flex;
    justify-content: center;
}